
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


main {
    flex: 1;
    padding: 20px;
}


.form-section, .search-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


input, select, textarea, button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}


button {
    background-color: #004080; /* Match footer color */
    color: white;
    border: none;
    cursor: pointer;
    padding: 12px;
}

button:hover {
    background-color: #003366;
}


.input-error {
    border-color: #dc3545;
}

.error-message {
    color: #dc3545;
    font-size: 0.9rem;
    margin-top: 5px;
}


#patient-list {
    list-style-type: none;
    padding: 0;
}

#patient-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
}

.delete-button:hover {
    background-color: #c82333;
}


footer {
    background-color: #000000; 
    color: white;
    text-align: center;
    padding: 0.10%; 
    border-top: 0.20px solid #000000; 
    font-size: 0.60rem; 
}
